body{
  background-image: url(SRC/bg.jpg);
  background-size: 237.5px 245px;
  padding: 10px;
}
.url{
  color: #DCDCDC;
  text-decoration: none;
}
.card-image{
  border-radius: 2px;
  width: 220px;
  height: 220px;
}
.card-h{
  margin: 3px;
  color: #DCDCDC;
  font-size: 5mm;
  font-family: sans-serif;
}
.product{
  width: 100%;
  height: auto;
  display: inline-block;
  position: absolute;
  background-color: #070A0A;
}
.card{
  box-shadow: 1.5px 1.5px 1.5px #000000;
  color: gray;
  border-radius: 2px;
  background-color: inherit;
  width: 220px;
  height: auto;
  text-align: left;
  background-color: #070A0A;
  display: inline-block;
  margin: 10px;
}
.card-btn{
  transition: 0s transform;
  border-width: 0px;
  padding: 7px 13px;
  font-size: 1.3em;
  color: #DCDCDC;
  background-color: #161D24;
  border-radius: 2px;
  margin-bottom: 3px;
  margin-right: 3px;
  margin-top: 0px;
  margin-left: 3px;
}
.card-btn:hover{
  background-color: #fff;
  color: #DCDCDC;
}
.card-h{
  margin: 3px;
  color: #DCDCDC;
  font-size: 5mm;
  font-family: sans-serif;
}
.product-h{
  margin: 3px;
  color: #DCDCDC;
  font-size: 7mm;
  font-family: sans-serif;
}
